{# user prehome block template #}

<div class="user-prehome container">
  <h2> {{ intro }} </h2>
  {# Connexion #}
  <div class="connexion-container"> 
    <h3> Déjà inscrit ? </h3>
    {{loginForm}}
  </div>

  {# Inscription #}
  <div class="register-container"> 
    <h3> Inscrivez-vous </h3>
    {{registerForm}}
  </div>
  
</div>